<?xml version="1.0" ?>
<robot name="drone2d">
  <link name="base_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1.0"/>
      <inertia ixx="0.02" iyy="0.02" izz="0.02" ixy="0" ixz="0" iyz="0"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.3 0.05 0.05"/>
      </geometry>
      <material name="blue">
        <color rgba="0.1 0.1 0.8 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.3 0.05 0.05"/>
      </geometry>
    </collision>
  </link>

  <link name="rotor_left">
    <visual>
      <origin xyz="-0.15 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder length="0.02" radius="0.03"/>
      </geometry>
      <material name="red">
        <color rgba="0.8 0.1 0.1 1"/>
      </material>
    </visual>
  </link>

  <link name="rotor_right">
    <visual>
      <origin xyz="0.15 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder length="0.02" radius="0.03"/>
      </geometry>
      <material name="green">
        <color rgba="0.1 0.8 0.1 1"/>
      </material>
    </visual>
  </link>

  <joint name="joint_left" type="fixed">
    <parent link="base_link"/>
    <child link="rotor_left"/>
    <origin xyz="-0.15 0 0" rpy="0 0 0"/>
  </joint>

  <joint name="joint_right" type="fixed">
    <parent link="base_link"/>
    <child link="rotor_right"/>
    <origin xyz="0.15 0 0" rpy="0 0 0"/>
  </joint>
</robot>
